{% extends 'index.html' %}

{% block body %}
<h1>Disaster Management Guidelines</h1>
<br></br>
<a href="https://www.education.gov.in/en/sites/upload_files/mhrd/files/upload_document/Guidelines_feb.pdf">School Safety</a>
<h3>Response Plan</h3>
<p>The Plan has listed 18 broad activities to serve as a ready reckoner guide. They are:</p>
<ol>
    <li>Search and Rescue of People and Animals</li>
    <li>Evacuation of People and Animals</li>
    <li>Medical Care</li>
    <li>Housing and Temporary Shelters</li>
    <li>Power</li>
    <li>Food &amp; Essential Supplies</li>
    <li>Communication</li>
    <li>Transportation</li>
    <li>Rehabilitation and Ensuring Safety of Livestock and other Animals, Veterinary Care</li>
    <li>Early Warning, Maps, Satellite inputs, Information Dissemination</li>
    <li>Fuel</li>
    <li>Data Collection and Management</li>
    <li>Disposal of Animal Carcasses</li>
    <li>Drinking-Water/ Dewatering Pumps/ Sanitation Facilities/ Public Health</li>
    <li>Relief Logistics and Supply Chain Management</li>
    <li>Fodder for livestock in scarcity-hit areas</li>
    <li>Media Relations</li>
    <li>Relief Employment</li>
    </ol>
{% endblock %}